body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-color: #ffffff;
    padding: 10px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center all items */
    gap: 40px; /* Adds space between items */
}

header .logo {
    width: 250px; /* Smaller image */
    height: auto;
}

.nav-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px; /* Adds space between nav items */
}

.nav-container ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
}

.nav-container ul li a:hover {
    text-decoration: underline;
}

.login-button {
    background: linear-gradient(135deg, #007bff, #0056b3); /* Gradient background */
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
    font-size: 25px;
}

.login-button:hover {
    background: linear-gradient(135deg, #0056b3, #003d79); /* Darker gradient on hover */
    transform: scale(1.05); /* Button scale effect */
}

.background-container {
    width: 100%;
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/0e/50/c2/0e50c2395ce120082508aa6ac80ef16b.jpg');
    background-size: cover;
    background-position: center;
}

@media (max-width: 1024px) {
    header {
        padding: 0 0 0 0;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    header .logo {
        width: 300px; /* Smaller logo */
        margin-top: 1px;
        margin-bottom: 27px;
    }

    .nav-container ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 90px; 
    }

    .nav-container ul li a {
        font-size: 26px; /* Smaller font size */
    }

    .login-button {
        margin-top: 14px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: 25px;
        font-size: 20px; /* Smaller button text */
        padding: 15px 15px; /* Smaller padding */
    }

    .background-container {
        width: auto;
        height: 700px; /* Smaller background container */
    }
}

/* 768px */
@media screen and (max-width: 768px) {
    header {
        padding: 0 0 0 0;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    header .logo {
        width: 180px; /* Smaller logo */
        margin-top: 1px;
        margin-bottom: 15px;
    }

    .nav-container ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 60px; /* Smaller gap */
    }

    .nav-container ul li a {
        font-size: 17px; /* Smaller font size */
    }

    .login-button {
        margin-top: 11px;
        margin-bottom: 8px;
        margin-left: auto;
        margin-right: 14px;
        font-size: 15px; /* Smaller button text */
        padding: 7px 7px; /* Smaller padding */
    }

    .background-container {
        width: auto;
        height: 400px; /* Smaller background container */
    }
}

/* 425px */
@media screen and (max-width: 425px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    header .logo {
        width: 130px; /* Smaller logo */
        margin-bottom: 15px;
    }

    .nav-container ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px; /* Smaller gap */
    }

    .nav-container ul li a {
        font-size: 15px; /* Smaller font size */
    }

    .login-button {
        margin-top: 10px;
        margin-bottom: 7px;
        margin-left: auto;
        margin-right: 15px;
        font-size: 15px; /* Smaller button text */
        padding: 7px 7px; /* Smaller padding */
    }

    .background-container {
        width: auto;
        height: 300px; /* Smaller background container */
    }
}

/* 375px */
@media screen and (max-width: 375px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    header .logo {
        width: 125px; /* Smaller logo */
        margin-bottom: 15px;
    }

    .nav-container ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px; /* Smaller gap */
    }

    .nav-container ul li a {
        font-size: 12px; /* Smaller font size */
    }

    .login-button {
        margin-top: 7px;
        margin-left: auto;
        margin-right: 13px;
        margin-bottom: 7px;
        font-size: 15px; /* Smaller button text */
        padding: 5px 5px; /* Smaller padding */
    }

    .background-container {
        width: auto;
        height: 300px; /* Smaller background container */
    }
}

/* 320px */
@media screen and (max-width: 320px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    header .logo {
        width: 120px; /* Smaller logo */
        margin-bottom: 15px;
    }

    .nav-container ul {
        display: flex;
        flex-direction: row;
        gap: 11px; /* Smaller gap */
    }

    .nav-container ul li a {
        font-size: 12px; /* Smaller font size */
    }

    .login-button {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: 7px;
        font-size: 15px; /* Smaller button text */
        padding: 5px 5px; /* Smaller padding */
    }

    .background-container {
        width: auto;
        height: 300px; /* Smaller background container */
    }
}
